.color1{
    position: relative;
    width: 30%;
    height: 5vw;
    text-align: center; 
    color: white; 
    font-size: larger;
    padding: 10px; 
    padding-top: 22px;
    left: 35%;
    background-color: #F77F00;
    margin: 0;
    border-radius: 20px;
}
.hom-svg{
    position: absolute;
    top:25vw;
    left:25%;
    width: 50%;
    height: auto;
}
.search-bar {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .search-bar input::placeholder {
    color: #aaa;
  }
  
  .search-bar input:focus {
    border-color: #007bff;
  }
  