.newPost {
  margin: 60px 0;
}
.newPost .container {
  max-width: 70%;
}

.newPost input{
  margin-top: 20px;
}
.newPost img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.newPost form {
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
}
